*
{
  /* outline: 2px solid red ; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  font-family:monospace;
  font-weight:900;
  background-color: rgb(39, 36, 36);
  color: white;
}
::-webkit-scrollbar
{
  display: none;
}
.app
{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding:30px; */
  gap:25px;
  
}
.additem
{
  border: 2px solid rgb(31, 157, 207);
  
  height: 150px;
  width:400px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 10px;
}

.input-details
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:10px;
}
#item
{
  height: 35px;
  font-size: 1.5rem;

  padding: 8px;

  color: rgb(31, 157, 207);
}
.addbtn
{
  padding: 4px;
  font-size: 3vh;

  background-color: rgb(31, 157, 207) ;
  color: white;

  box-shadow: 0px 2px 2px white, 0px -2px 2px white;
}
.displaytask
{
  border: 2px dashed rgb(31, 157, 207) ;

  height: 350px;
  width: 400px ;

  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */

  gap:10px;
  padding: 25px;

  overflow: auto;
}
.stmt
{
  text-align: center;
  font-size: 3vh;
  color: rgb(31, 157, 207);
}
.taskslist
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap:10px;
}
.elements
{
  display: flex;
  justify-content: space-between;

  width: 100%;

  font-size: 3vh;
}